<link rel="icon" type="image/png" href="/static/favicon-16x16.png" sizes="16x16">
<link rel="icon" type="image/png" href="/static/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="/static/android-192x192.png" sizes="192x192">
<link rel="apple-touch-icon" href="/static/apple-touch-icon-180x180.png" sizes="180x180">
<meta name="msapplication-config" content="/static/browserconfig.xml">